* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

html {
    font-size: 10px;
}

body {
    font-family: 'El Messiri', sans-serif;
    background-color: $bg;
    width: 100%;
    min-height:  1500px;
}