@media screen and (max-width: 1360px) {
    html {
        font-size: 8px;
    }
    section {
        width: 90%;
    }
}
@media screen and (max-width: 1100px) {
    html {
        font-size: 7px;
    }
    section {
        width: 96%;
    }
}