:root {
    // =====[ LightTheme ]=====
    --bg: #ffffff;
    --c-1: #707070;
    --c-2: #7CB440;
    --c-3: #00AFC5;

    // =====[ DarkTheme ]=====
    // --bg: #121316;
    // --c-1: #ffffff;
    // --c-2: #4d4d4d;
    // --c-3: #5e00aa;
}


//  size
