@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

@import '../vars';
@import '../main';


section {
    height: 100vh;
    width: 80%;
    margin: auto;

    header {
        height: 150px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    
        .img {
            height: auto;
            width: auto;
    
    
            img {
                height: 130px;
                width: auto;
            }
        }


        .links {
            gap: 30px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            a {
                font-size: 2.5rem;
                font-weight: 500;
                color: var(--c-1);

                &:hover {
                    color: var(--c-3);
                }
            }
        }

        .input {
            i {
                position: absolute;
                transform: translate(0px, -5px);
                font-size: 2.5rem;           
                color: var(--c-3);
                z-index: 1;
            }
            input {
                padding-left: 25px;
                font-weight: 1000;
                color: var(--c-3);
                text-align: right;
                outline: none;
                background: var(--bg);
                color: var(--c-3);
                font-size: 20px;
                height: 30px;
                border: none;
                border-bottom: 1px solid var(--c-3);
                transform: translateY(-5px);
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }
    }
    
    .imgs {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-areas:
        'sm-1 big big'
        'sm-2 big big';
        gap: 20px;
    
        div {
            position: relative;
            width: 100%;
            height: 100%;

            img {

               

                width: 100%;
                height: 100%;
                object-fit: cover;
                background-color: #000;
            }

            &::before {
                position: absolute;
                content: "";
                display: block;
                background-color: var(--c-1);
                mix-blend-mode: multiply;
                opacity: 0.5;
                width: 100%;
                height: 100%;
            }

            &:after {
                content: "ازرائيل";
                position: absolute;
                font-size: 1rem;
                color: #fff;
            }
        }

        .div-1 {
            &:after {
                content: "توربينات الرياح (Wind Turbines)";
                position: absolute;
                font-size: 3rem;
                color: #fff;
                bottom: 10px;
                right: 10px;
            }
        }

        .div-2 {
            &:after {
                content: "ازرائيل";
                position: absolute;
                padding: 2px 15px;
                font-size: 1rem;
                background-color: #6ba106;
                border-radius: 10px;
                color: #fff;
                top: 10px;
                right: 10px;
            }
        }

        .div-3 {
            &:after {
                content: "ازرائيل";
                position: absolute;
                padding: 2px 15px;
                font-size: 1rem;
                background-color: #6ba106;
                border-radius: 10px;
                color: #fff;
                top: 10px;
                right: 10px;
            }
        }

    }

}



.c-lol {

    height: 350px;
    width: 100%;

    .lol {
        margin: 0 auto 130px;
        height: 200px;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 20%) ;
        gap: 6.6%;
    
    
        span {
            gap: 20px;
            width: 100%;
            height: 100%;
            display: flex;
    
            flex-direction: column;
            align-items: center;
    
            img {
                height: 50%;
                width: 100%;
            }
            p {
                font-size: 30px;
                font-weight: 1000;
                color: var(--c-1);
                text-align: center;
            }
        }
    }
}



.wd {
    height: 100vh;
    width: 100%;
    background-color: var(--c-3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;


    p {
        font-size: 4rem;
        color: var(--c-1);
        margin-bottom: 30px;
    }

    img {
        height: 100%;
        width: auto;
    }
}

.c-main {

    .main {
        height: 70%;
        width: 100%;
        display: grid;
        grid-template-areas:
        'span-1 span-2 span-3 span-4'
        'span-5 span-6 span-7 span-8';
        gap: 50px;


        div {
            margin: 0 auto;
            position: relative;
            height: auto;
            width: 85%;
            object-fit: cover;
            z-index: -1;
            div {
                position: relative;
                width: 100%;
                height: 200px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                &::before {
                    position: absolute;
                    content: "";
                    display: block;
                    background-color: var(--c-1);
                    opacity: .4;
                    width: 100%;
                    height: 100%;
                }

                &:after {
                    content: "ازرائيل";
                    position: absolute;
                    padding: 2px 15px;
                    font-size: 1rem;
                    background-color: #6ba106;
                    border-radius: 10px;
                    color: #fff;
                    top: 10px;
                    right: 10px;
                }
            }

            h4, p {
                font-size: 2rem;
                padding: 5px 0;
                direction: rtl;
                font-weight: 600;
                color: #686868;
            }
            
            p {
                font-size: .9rem;
                color: #888888;
            }

            
            
        }
        
    }
}


.c-f {

    span {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        h1 {
            font-size: 4rem;
            margin-bottom: 100px;
            color: var(--c-1);
        }

        ul {
            display: flex;
            justify-content: space-around;
            width: 100%;
            div {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                text-align: center;

                div {
                    
                    text-align: center;


                    img{
                        object-position: center center;                    
                        object-fit: cover;
                        width: 280px;
                        height: 280px;
                        border-radius: 50%;
                        margin: auto;
                    }
                }
            }


            main {


                p {
                    font-size: 2rem;
                    text-align: center;
                    margin: 10px 0;
                    color: var(--c-1);
                }
            }    
        
        
            
        }

    }
}


footer {
    height: 226px;
    width: 100%;
    background-color: var(--c-3);
    display: flex;
    direction: rtl;
    color: #fff;
    
    .sh {
        align-items: center;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        gap: 10px;



        ul {
            a {
                font-size: 2.5rem;
                color: #fff;
                margin: 0 5px;

                &:hover {
                    color: yellow;
                }
            }
        }

        p {
            font-size: 1.9rem;
            font-weight: 0;
        }
        input {
            width: 377px;
            height: 45px;
            font-size: 2rem;
            border-radius: 37px;
            text-align: center;
        }
        button {
            width: 127px;
            height: 32px;
            font-size: 2rem;
            color: #fff;
            background: #FFB000 0% 0% no-repeat padding-box;
            border-radius: 27px;
            border: none;
        }
    }
}









// Media 
@import '../screens';
